* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s;
    padding-top: 60px;
    z-index: 999;
}

.side-menu a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: left; /* Adicionado para alinhar texto à esquerda */
}

.side-menu a:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
    transition: margin-left 0.3s;
}

.content h1, .content p {
    margin-left: 20px;
}

.cx {
    background-color: rgb(70, 70, 192);
    width: 600px;
    height: 900px;
    position: absolute;
    left: 1000px;
    top: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

 .cx-2 {
    background-color: rgb(69, 151, 218);
    width: 500px;
    height: 900px;
    position: absolute;
    left: 500px;
    top: 30px;
    border: 5px solid black;
    border-radius: 10px;

} 

.mb-3 label {
    position: relative;
    top: 25px;
    font-size: 20px;
    padding: 20px;
    text-align: right;
}

/* Estilo base para o input */
input[type="text"] {
    width: 500px; /* Largura do input */
    height: 30px; /* Altura do input */
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #000000; /* Borda sólida de 2px com cor cinza */
    border-radius: 5px; /* Cantos arredondados */
    background-color: #f8f8f8; /* Cor de fundo */
    color: #333; /* Cor do texto */
    overflow: hidden;
    position: relative;
    left: 50px;

}

input[type="number"] {
    width: 500px; /* Largura do input */
    height: 30px; /* Altura do input */
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #000000; /* Borda sólida de 2px com cor cinza */
    border-radius: 5px; /* Cantos arredondados */
    background-color: #f8f8f8; /* Cor de fundo */
    color: #333; /* Cor do texto */
    overflow: hidden;
    position: relative;
    left: 50px;
}

/* Estilo quando o input está em foco */
input[type="text"]:focus {
    border-color: #007bff; /* Borda azul quando em foco */
    outline: none; /* Remove a borda padrão de foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul ao redor */
}

.btn btn-primary {
    position: relative;
    top: 200px;
    left: 10px;
}
