* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* lightblue */
body {
    background-color: #9ecfe2;
}
.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}
h1 {
    position: relative;
    top: 30px;
    left: 280px;
    font-size: 50px;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s;
    padding-top: 60px;
    z-index: 999;
}

.side-menu a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: left; /* Adicionado para alinhar texto à esquerda */
}

.side-menu a:hover {
    background-color: #575757;
}

.cx-1 {
    color: black; /* Cor do texto */
    background-color: #fff;
    width: 1400px;
    height: 750px;
    position: relative;
    border: 5px ;
    border-radius: 30px;
    overflow: hidden;

}
/* rgb(51, 20, 230) */
.cx-2 {
    width: 850px;
    height: 750px;
    background-color: #87b0db;
    position: absolute; /* Permite a movimentação do quadrado interno */
    top: 50%; /* Centraliza verticalmente */
    right: 700px; /* Inicialmente dentro do contêiner à direita */
    transform: translate(100%, -50%); /* Ajusta para posicionar fora da direita e centralizar verticalmente */
    transition: transform 1s ease; /* Transição suave mais suave */
    display: flex; /* Alinha o texto */
    align-items: center; /* Centraliza verticalmente o conteúdo do texto */
    justify-content: center; /* Centraliza horizontalmente o conteúdo do texto */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
    color: white;
}
p {
    position: relative;
    left: 110px;
    font-size: 40px;
    justify-content: center;
}

.cx-1:hover .cx-2{
    transform: translate(0, -50%); /* Move o quadrado para a esquerda dentro do contêiner */
}
  
.cx-1:not(:hover) .cx-2 {
    transform: translate(100%, -50%); /* Move o quadrado de volta para a direita quando o mouse sai do contêiner */
}
 
.mb-3 input {
    position: absolute;
}
.mb-3 input {
    width: 500px;
    padding: 4px;
    top: 100px;
    left: 700px;
    overflow: hidden;
}

#barra-1 label {
    position: absolute;
    top: 19%;
    left: 70%;
}
#barra-1 input {
    padding: 4px;
    top: 170px;
    left: 700px;
    overflow: hidden;
}

#barra-2 label {
    position: absolute;
    top: 30%;
    left: 70%;
}
#barra-2 input {
    position: absolute;
    top: 250px;
    left: 700px;
    overflow: hidden;
}

#barra-3 label {
    position: absolute;
    top: 42%;
    left: 66%;
}

#barra-3 input {
    position: absolute;
    top: 340px;
    left: 700px;
}
#barra-4 label {
    position: absolute;
    top: 54%;
    left: 70%;
}
#barra-4 input {
    position: absolute;
    top: 430px;
    left: 700px;
    overflow: hidden;
}

#barra-5 label {
    position: absolute;
    top: 66%;
    left: 70%;
}
#barra-5 input {
    position: absolute;
    top: 520px;
    left: 700px;
    overflow: hidden;
}

#barra-6 label {
    position: absolute;
    top: 78%;
    left: 70%
}
#barra-6 input {
    position: absolute;
    top: 610px;
    left: 700px;
    overflow: hidden;
}

#button {
    position: absolute;
    font-size: 18px;
    top: 300px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    width: 150px;
    height: 50px;
    top: 670px;
    left: 880px;
    margin-right: 40px;
}
#button:hover{
    background-color: #000000;
    color: white;
}