body
{
    background-color: #4562E6;
}

.formatar
{
    margin-top: 70%;
}

.marcação
{
    font-size: 30px
}

img
{
    height: 200px;
    width: 270px;
}
.botão
{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: white;
}