body
{
    background-color: #4562E6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.formatar
{
    margin-top: 70%;
}

.marcação
{
    font-size: 30px
}

#container {
    position: absolute;
    left: 820px;
    top: 200px;

}
.cx {
    background-color: #3778da;
    display: inline-block;
    position: relative;
    top: 20px;
    width: 380px;
    height: 300px;
    border: 5px solid black;
    border-radius: 80px;
}
.cx h1 {
    position: relative;
    top: 2px;
    left: 71px;
}
 label {
    position: relative;
    top: 28px;
    left: 13px;
    font-size: 20px;
    
}
input {
    display: flex;
    position: relative;
    padding: 10px;
    left: 80px;
    width: 250px;
    height: 10px;
} 

.btn-login {
    position: relative;
    font-size: 18px;
    top: 45px;
    border: 2px solid rgb(3, 3, 3);
    color: rgb(8, 8, 8);
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    width: 150px;
    height: 50px;
    left: 120px;
}

.btn-login:hover{
    background-color: rgb(2, 2, 3);
    color: white;
}
img {
    width: 400px;
    height: 270px;
    
}
a {
    color: aliceblue;
}
p {
    position: absolute;
    top: 880px;
}
.title {
    position: relative;
    top: 60px;
}


.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s;
    padding-top: 60px;
    z-index: 999;
}

.side-menu a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: left; /* Adicionado para alinhar texto à esquerda */
}

.side-menu a:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
    transition: margin-left 0.3s;
}

.content h1, .content p {
    margin-left: 20px;
}